.cabecalho {
    background-color: #51025a; /*modifica a cor de fundo*/
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center; /*alinha no centro*/
    padding: 24px 0;
    
    .cabecalho-lista-item {
            display: inline-block;
            margin: 0 16px;
            font-size: 24px;
    }
    }